.sacola{
    background-image: url(../assets/sacola.png);

background-repeat: no-repeat;
background-position:top right;
 font-size: 12px;
padding-right: 35px;
text-align: right;
width: 140px;
position: absolute;
top: 0;
right: 0;}

.menu-opcoes ul{
    font-size: 18px;}

.menu-opcoes a{color: rgb(86, 214, 31);}
body{color: #333;
    font-family: "lucida sans unicode", "lucida grande",sans-serif;
}
.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}
.container{
margin:0 auto;
width: 940px;}
header{position: relative;}
.menu-opcoes{position: absolute;
bottom: 0;
right: 0;}